*.pyc
*.egg-info/
.eggs/
build/
dist*/
wheelhouse/
/venv*/
/kgs/
/.tox/
letsencrypt.log

# coverage
.coverage
/htmlcov/

/.vagrant

# editor temporary files
*~
*.swp
\#*#
.idea
*.iml

# auth --cert-path --chain-path
/*.pem
